.friendsList img {
  width: 30px;
  border-radius: 15px;
}

.friendsList {
  display: flex;
  flex-flow: column;
  background-color: orange;
  width: 50px;
  align-items: center;
  margin: 3px;
}

.friendsList p{

}

